<div class="container pt-5 mb-4">
  <h1>The Gossip Project</h1>
  <p>Voici la liste de nos derniers gossips</p>
  <div class="row pt-4 pb-4">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Auteur</th>
          <th scope="col">Titre</th>
          <th scope="col">Gossip</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <% if session[:user_id] %>
          <th scope="col"></th>
          <th scope="col"></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @gossips.each do |gossip| %>
          <tr>
            <th scope="row"><%= gossip.id %></th>
            <td> <%= @users.find(gossip.user_id).full_name %> </td>
            <td><%= gossip.title %></td>
            <td><%= gossip.content %></td>
            <% if session[:user_id] %>
            <td><% pre_like = gossip.likes.find { |like| like.user_id == current_user.id} %>
                <% if pre_like %>
                  <%= link_to(gossip_like_path(gossip.id, pre_like), method: :delete) do %>
                      <i class="fas fa-thumbs-down center"></i>
                  <% end %>
                <% else %>
                  <%= link_to(gossip_likes_path(gossip.id), method: :post ) do %>
                      <i class="fas fa-thumbs-up"></i>
                  <% end %>
                <% end %></td>
            <% end %>
            <td><%= gossip.likes.count %><i class="fas fa-thumbs-up"></td>
            <% if session[:user_id] == gossip.user_id %>
            <td><a href="<%= edit_gossip_path(gossip.id)%>"><i class="far fa-edit"></i></a></td>
            <td><a href="<%= gossip_path(gossip.id)%>" data-confirm="Voulez-vous vraiment supprimer ce potin?" data-method="DELETE"><i class="fas fa-trash-alt"></i></a></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
