<div class="container pt-5 mb-4">
  <h1>Les Contributeurs du sites</h1>
  <p>Voici la liste des contributeurs</p>
  <div class="row pt-4 pb-4">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Ville</th>
          <th scope="col">Utilisateurs</th>
          <th scope="col">Description</th>
          <th scope="col">Age</th>
          <th scope="col">Email</th>
          <th scope="col">Voir</th>
          <th scope="col">Contacter</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <th scope="row"><%= user.id %></th>
            <td> <%= @cities.find(user.city_id).name %> </td>
            <td><%= user.full_name %></td>
            <td><%= user.description %></td>
            <td><%= user.age %></td>
            <td><%= user.email %></td>
            <td><a href="<%= user_path(user.id)%>">Voir</a></td>
            <td><a href="https://www.beinsports.com/france/nba/">Contacter</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
